
.icon {
    display:flex;    
    justify-content:space-between;
    /* color:red; */
    padding: 10px;
    margin-bottom:10px;
}

.my-card {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 5px; 
}

